.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .input-field {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
  }
  
  .add-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #3e8e41;
  }
  
  .task-list-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .no-task-message {
    color: #999;
    font-size: 18px;
  }
  
  .task-item {
    font-size: 18px;
    margin-bottom: 10px;
  }
